* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: basic;
}

body{
  font-size: 20px;
}

.container{
  position: relative;
}

h2 {
  font-size: 1.5rem;
  padding: 1em 0;
}

header{
  text-align: center;
  background: rgba(30, 143, 255, 0.808);
}

a{
  color: black;
  text-decoration: none;
}

.display-tab{
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#display{
  font-size: 1rem
}

p{
  text-align: start;
  font-size: .8rem;
  margin: .9em 1.8em 0;
  padding: 1em 0;
}


section{
  margin: 0 auto;
  width: 420px;
  text-align: center;
  padding: 20px 0;
}

select{
  padding: 10px
}

select, input{
  width: 90%;
  border: none;
  border-bottom: 1px solid grey;
  cursor: pointer;
  background: transparent
}

input{
  font-size: .8rem;
  margin: 2.7em 0;
}

input:focus{
  background: rgba(220,220,220,.2);
}

input[type='number']{
  padding: 10px 10px;
}

#submit{
  font-size: 1.2rem;
  background: rgba(30, 143, 255, 0.808);
  color: white;
  padding: .3em;
  border: none;
  margin: 1em 0;
  border-radius: .2em;
  cursor: pointer;
  box-shadow: 0 1px 1px 1px rgba(0,0,0,.6);
}

#submit:hover{
  background: dodgerblue;
  box-shadow: 0 0 1px 1px rgba(0,0,0,.9);
}

.alert{
  position: absolute;
  display: none;
  background-color: rgba(0,0,0,.64);
  height: 100vh;
  top: 0;
  width: 100%;
}

.show{
  display: block;
}

.load{
  width: 100px;
  height: 100px;
  margin: 300px auto;
  display: block;
  border-radius: 50%;
  border: 7px;
  animation: spin 1s infinite linear;
  border-left: solid lightblue;
  border-right: solid lightblue;
  border-top: solid transparent;
  border-bottom: solid transparent;
}

@keyframes spin{
  0% {transform: rotate(0deg)}
  100% {transform: rotate(360deg)}
}

.errmsg{
  padding: 0; 
  box-sizing: border-box;
  width: 200px;
  display: flex;
  flex-direction: column;
  border-top: 3px solid rgba(30, 143, 255, 0.808);
  margin: 200px auto;
  border-radius: 2px;
  background: white;
}

.errmsg p, #reload{
  font-size: 17px;
  padding: 0;
  margin: 8px;
  font-size: 18px;
  text-align: center;
}

.errmsg #reload{
  margin: 5px auto;
  background: rgba(30, 143, 255, 0.808);
  padding: 2px 3px;
}

@media (max-width: 576px) {
  section{
    width: 100%;
  }
  
}